{% set testsaltssh = salt['grains.filter_by']({
    'Debian': {
        'variable': 'debian',
    },
    'RedHat': {
        'variable': 'redhat',
    },
}, grain='os_family', merge=salt['pillar.get']('testsaltssh:lookup')) %}
